canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
    width: 50%;
    height: 50%;
    padding: 20px;
    text-align: center;
    background: black;
}

h1 {
    text-align: center;
    color: white;
    font-family: Arial, serif;
    background: cadetblue;
}

h3 {
    text-align: center;
    color: white;
    font-family: Arial, serif;
}

body {
    background-image: url(images/background.jpg);
}